<mat-tab-group orientation="vertical">
  <mat-tab label="Tab 1">
    <ng-template matTabContent>
      Tab 1 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 2">
    <ng-template matTabContent>
      Tab 2 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 3">
    <ng-template matTabContent>
      Tab 3 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 4">
    <ng-template matTabContent>
      Tab 4 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 5">
    <ng-template matTabContent>
      Tab 5 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 6">
    <ng-template matTabContent>
      Tab 6 Content
    </ng-template>
  </mat-tab>
</mat-tab-group>
