@use '~@firestitch/style/variables' as fs-style-variables;
@use '~@angular/material/_theming.scss' as mat-theme;

$primary-color: mat-theme.mat-color(fs-style-variables.$palette) !default;

$tab-margin: 12px !default;
$tab-dialog-margin: 24px !default;
$tab-sticky-height: 35px !default;
