@mixin fs-tabs(
  $fs-tab-margin: 12px,
  $fs-tab-dialog-margin: 24px,
  $fs-tab-sticky-height: 35px,
) {
  .mat-dialog-container {
    .fs-tabs-sticky {
      margin-left: -$fs-tab-dialog-margin;
      margin-right: -$fs-tab-dialog-margin;
    }
  }

  .fs-tabs-sticky {
    position: sticky !important;
    top: 0;
    z-index: 2;
    background-color: #fff;
    margin-left: -$fs-tab-margin;
    margin-right: -$fs-tab-margin;

    .mat-tab-link, .mat-tab-label {
      height: $fs-tab-sticky-height;
    }
  }
}
